<nav class="navbar navbar-light bg-dark justify-content-between">
  <!-- <a class="navbar-brand nav">Home</a>
  <a class="navbar-brand nav">Contact</a> -->
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="/">Home</button>
    <button type="button" class="btn btn-secondary">About Us</button>
    <button type="button" class="btn btn-secondary">Contact</button>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>