
    <!-- <div class="row">
        <div class="col-lg-3">
            <img src="https://i.pinimg.com/originals/4b/2c/0e/4b2c0ea0b222cbe0f21edc206b5a3214.png" width="100" alt="">
        </div>

        <div class="col-lg-6">
            <p class="text-right">
                <span class="cart"><i class="fas fa-shopping-cart"></i></span>
                <span class="auth"><i class="fas fa-user-shield"></i></span>  
            </p>
        </div>
    </div> -->
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <img src="https://i.pinimg.com/originals/4b/2c/0e/4b2c0ea0b222cbe0f21edc206b5a3214.png" width="60" alt="">
            <div class="text-right" style="margin-right: 20px;">
                <span class="cart" style="margin-right: 20px;"><i class="fas fa-shopping-cart"></i></span>
                <span class="auth"><i class="fas fa-user-shield"></i></span> 
            </div>
          </nav>
    </div>
